<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue2.0 guide</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{message}}
    </div>

    <div id="app-2">
      <span v-vind:title='message'>
        Hover your mouse over me for a few secondes
      </span>
    </div>

    <div id="app-3">
      <p v-if="seen">Now you see me</p>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>


    <script src="script.js"></script>
  </body>
</html>
